@import "nord.css";

:root {
  --background: #200f0f;
}

/* ------------------------------------------------------------------------- */
/* Min 2/3 width, max 1/2 width */
@media (max-width: 768px) {
  :root {
    --wrapper-max-width: 384px;
    --wrapper-margin: 16px;
  }

  body {
    font-size: small;
  }
}


/* + 64px */
@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    --wrapper-max-width: 512px;
    --wrapper-margin: 32px;
  }

  body {
    font-size: medium;
  }
}


/* + 128px */
@media (min-width: 1024px) and (max-width: 1536px) {

  :root {
    --wrapper-max-width: 768px;
    --wrapper-margin: 64px;
  }

  body {
    font-size: medium;
  }
}


@media (min-width: 1536px) {
  :root {
    --wrapper-max-width: 1024px;
    --wrapper-margin: 128px;
  }

  body {
    font-size: large;
  }
}


/* ------------------------------------------------------------------------- */

html,
body {
  margin: 0;
  height: 100%;
  background: var(--background);
  color: var(--nord6);
  font-family: monospace;
  text-align: left;
}

a {
  color: var(--nord13);
}

tt {
  background: var(--background);
  color: var(--nord12);
}


hr {
  background: var(--nord13);
}

h1 tt,
h2 tt,
h3 tt {
  background: var(--background);
}

h1,
h3,
h5 {
  color: var(--nord13);
}

h2,
h4,
h6 {
  color: var(--nord14);
}

body {
  background: var(--background);
}

.wrapper {
  max-width: var(--wrapper-max-width);
  background: null;
  margin: auto;
  margin-bottom: var(--wrapper-margin);
  margin-top: var(--wrapper-margin);
  /* background: var(--nord1); */
}



.home-0,
.home-1 {
  font-size: xxx-large;
}


.home-0 strong {
  color: var(--nord8);
}

.home-1 strong {
  color: var(--nord12);
}



.home-2 {
  font-size: xx-large;
}

.home-2 object {
  filter: invert(94%) sepia(2%) saturate(1401%) hue-rotate(187deg) brightness(99%) contrast(85%);
}

.home-2 p,
.home-2 ul,
.home-2 a {
  margin: 0px;
  padding: 0px;
  color: var(--nord4);
  text-decoration: none;
}

.home-2 li {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
}

.home-2 li:hover {
  background: var(--nord10);
}

.home-2 object {
  width: 32px;
  padding-right: 16px;
  /* Because svg is wrapped in <a>. */
}

.home-2 .image-reference {
  flex-grow: 0;
}

.home-2 a {
  flex-grow: 1;
}


.home-2 p,
.home-2 li {
  list-style-type: none;
  padding-bottom: 16px;
  padding-top: 16px;
}
