/* ------------------------------------------------------------------------- */

.home-about-title,
.home-0,
.home-1 {
  /* margin-bottom: var(--wrapper-margin); */
  /* margin-top: var(--wrapper-margin); */
  font-size: xxx-large;
}


.home-0 strong {
  color: var(--nord8);
}

.home-1 strong {
  color: var(--nord12);
}



.home-2 {
  font-size: xx-large;
}

.home-2 object {
  filter: invert(94%) sepia(2%) saturate(1401%) hue-rotate(187deg) brightness(99%) contrast(85%);
}

.home-2 p,
.home-2 ul,
.home-2 a {
  margin: 0px;
  padding: 0px;
  color: var(--nord4);
  text-decoration: none;
}

.home-2 li {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
}

.home-2 li:hover {
  background: var(--nord10);
}

.home-2 object {
  width: 32px;
  padding-right: 16px;
  /* Because svg is wrapped in <a>. */
}

.home-2 .image-reference {
  flex-grow: 0;
}

.home-2 a {
  flex-grow: 1;
}


.home-2 p,
.home-2 li {
  list-style-type: none;
  padding-bottom: 16px;
  padding-top: 16px;
}

.home-3 {
  height: 50vh;
}

.home-about-title {
  color: var(--nord14)
}

.home-about-content {
  font-size: x-large;
  /* margin-bottom: var(--wrapper-margin); */
  /* margin-top: var(--wrapper-margin); */
  padding-bottom: var(--wrapper-margin);
  padding-top: var(--wrapper-margin);
}


.commits {
  /* margin-bottom: var(--wrapper-margin); */
  /* margin-top: var(--wrapper-margin); */
  padding-bottom: var(--wrapper-margin);
  padding-top: var(--wrapper-margin);
}

.commits img {
  /* https://stackoverflow.com/questions/45439710/center-an-image-in-css */
  margin: auto;
  padding: inherit;
  display: block;

  clip-path: circle();
  /* height: 256px; */
  /* width: 256px; */
  /* border-radius: 128px; */
}
