@import "base.css";
@import "cards.css";
/* @import "colors.css"; */
@import "commits.css";
@import "home.css";
@import "nord.css";

/* NOTE: DO NOT PUT ROOT PROPERTIES HERE! THEY BELONG IN ``base.css``. */


/* ------------------------------------------------------------------------- */

html,
body {
  margin: 0;
  height: 100%;
  background: var(--background);
  color: var(--nord4);
  font-family: monospace;
  text-align: left;
}

a {
  color: var(--nord13);
}

tt {
  color: var(--nord8);
  /* color: var(--nord15); */
}


hr {
  background: var(--nord13);
}

h1 tt,
h2 tt,
h3 tt {
  background: var(--background);
}

h1,
h3,
h5 {
  color: var(--nord13);
}

h2,
h4,
h6 {
  color: var(--nord14);
}

.wrapper {
  max-width: var(--wrapper-max-width);
  margin: auto;
  padding-bottom: var(--wrapper-margin);
  padding-top: var(--wrapper-margin);
}
